<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template kostic medium">
                <%= image_tag("Netiko.jpg") %>
                <div class="error-details">
                    <br>
                    <br>
                    <p class="kostic medium">Disculpa, La pagina no fue encontrada.</p>
                </div>
                <div class="error-actions">
                  <a href="/" class="btn btn-warning btn-lg kostic medium"><span class="fa fa-home"></span> Vuelve al Inicio </a>
                  <a href="/" class="btn btn-warning btn-lg kostic medium"><span class="fa fa-envelope"></span> Contacto Soporte</a>
                </div>
            </div>
        </div>
    </div>
</div>


